@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background: #263238;
    color: #eceff1;
}

header, body {
    font-family: 'Roboto', sans-serif;
}

footer {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
}

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: grey; 
}

@media screen and (max-width: 992px) { /* Celulares e Tablets */
    .card {
        width: 12rem !important;
    }

    #back-arrow {
        display: none;
    }

    #next-arrow {
        display: none;
    }

    .media-votos {
        top: 62% !important;
    }
}

.card {
    width: 17rem;
    margin: 10px;
    color: black;
    padding: 0px;
}

form button:hover {
    color: darkgray!important;
}

.bg-custom-primary{
    background: #bf360c;
}

.nav-link.active {
    font-weight: bold;
}

.nav-link {
    color: white;
}

.container-filmes {
    overflow-x: auto;
}

.active-custom-page {
    background-color: #ff5722;
    color: #ffffff;
}

.active-custom-page:hover {
    background-color: gray;
}

.media-votos  {
    position: absolute;
    right: 0;
    top: 76%;
}

.media-votos-top {
    background-color: #43a047 !important;
}

.media-votos-medio {
    background-color: #ef6c00 !important;
}

.media-votos-baixo {
    background-color: #e53935 !important;
}

.total-votos {
    margin: 0px;
}

a:hover {
    cursor: pointer;
}
