.card {
    width: 100% !important;
}

#container-detalhes {
    margin: 0 auto;
}

.img-detalhes {
    max-width: 500px;
    max-height: 800px;
    border-radius: 10px;
}

@media screen and (max-width: 576px) { /* Celulares */
    .img-detalhes {
        max-width: 270px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) { /* Tablets */
    .img-detalhes {
        max-width: 320px;
    }
}